.title {
    padding: 3px;
    border-bottom:3px solid black;
}

.page {
    border:0px;
    margin:0px;
    width: 512px;
}
.box {
    border: 2px solid black;
    margin: 10px ;
    padding:4px;
    width:440px ;

}
.footer{
    border-top: 3px solid black;
}

.box_section{
    padding: 10px;
}