.title {
    padding: 3px;                     /* title padding and bottom border */
    border-bottom:3px solid black;
}

.page {                               /* set page width reset page border and margin */
    border:0px;
    margin:0px;
    width: 512px;
}
.section {                          /* set section width and borders add padding and margin */
    border: 2px solid black;
    margin: 10px ;
    padding:4px;
    width:440px ;

}
.footer{
    border-top: 3px solid black; /* set top border */
}

.main{ /* set  */
    padding: 10px;
}